.footer {
  color: black;
  background-color: #F9F7F7;
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* This sets default text color */
}

.footer p {
  color: black;
  margin-bottom: 10px;
}

.socialIcon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  list-style: none;
}

.socialIconItem {
  list-style: none;
}

.socialIcon a {
  font-size: 2rem;
  color: black;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.socialIcon a:hover {
  transform: translateY(-10px);
}

.menu a {
  font-size: 1.2rem;
  color: black;
  background-color: #F9F7F7;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu a:hover {
  opacity: 1;
}

.logo {
  display: block;
  /* Ensures it's treated as a block element for centering */
  margin: 0 auto;
  /* Centers the logo horizontally */
  width: 200px;
  /* Adjust to make the logo smaller (adjust as needed) */
  height: auto;
  /* Maintains aspect ratio */
}

@media (max-width: 425px) {
  .menu a {
    font-size: 14.92px;
  }
}

@media (max-width: 390px) {
  .menu a {
    font-size: 13px;
  }
}

@media (max-width: 325px) {
  .menu a {
    font-size: 11px;
  }
}

/* Logo styling */
.infologo {
  max-width: 100px;
  margin-right: 20px;
}

/* Info Section styling */
.infoSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-left: 20px;
}

/* Individual info item styling - keeps icon and text on the same line */
.infoItem {
  display: flex;
  align-items: center;
  gap: 8px;
  /* Spacing between icon and text */
  color: black;
  /* Adjust color as needed */
  font-size: 14px;
  /* Adjust text size as needed */
}

@media (max-width: 767px) {

  /* Mobile-specific adjustments */
  .infoSection {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.contactItem {
  display: flex;
  align-items: center;
  /* Ensures icon and text are aligned horizontally */
  gap: 8px;
  /* Adjusts spacing between the icon and the text */
}
.mapButton {
  margin-top: 20px;
  display: flex;
  background-color: #000000; /* Google blue */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.mapButton:hover {
  background-color: #357ae8;
}

.infoicon{
  margin-top:3px ;
}